.main {
    height: 100vh;
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-box{
	background-color: rgba(255,255,255,0.7);
	padding: 3em;
	border-radius: 1em;
}
.login-logo {
    margin: auto;
    width: 100px;
}

.login-logo img {
    width: 100%;
}

.btn {
    background-color:
}
