.registro_form {
    margin: 20px auto;
    border-bottom-right-radius: 1em;
    border-top-left-radius: 1em;
}

.form-horizontal .form-group {
    margin: 10px;
}

.form-inline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.btn-accion {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    float: right;
    bottom: 0;
}

.btn-accion:hover {
    background-color: #265c89;
    color: #FFFFFF;
}

select,
option {
    text-transform: uppercase;
}

.input-group[class*=col-] {
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}

.input-group-addon:hover {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

legend {
    background-color: #fe890f;
    color: #FFFFFF;
    padding: 10px;
    border-top-left-radius: .5em;
    font-size:1.2em;
}

.registro_form {
    border: 1px solid #fe890f;
}

footer {
    background: #0f0f0f;
    color: #FFFFFF;
    margin-bottom: 0;
}

.info,
.social_media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
}

.social_media {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.social_media > a {
    color: #FFFFFF;
    text-decoration: none;
}

.social_media > a:hover {
    color: #ff9500;
}
.hideMe{
	display:none;
}
