*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}
html,
body{
	height:100%;
	width:100%;
}
/*--------- HOME --------*/

.mainLeft{

}
.mainRight{	
	float:left;
	overflow:auto;
}
footer{
	float:left;
	width:100%;
	padding:10px;
}
.container.principal{
	overflow:auto;
}
/*--------- ENDS HOME --------*/
