 .navbar-default{
    background: #3c3c3c;
    /*background: -webkit-gradient(linear,from(#df5300),to(#ff9500));
    background: linear-gradient(#df5300,#ff9500);*/
    padding: 0px;
    z-index: 1;
    /*height: 100%;*/
}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse{

    max-height: none;
}
.navbar-default .navbar-toggle{
    border-color: #FFFFFF;
}
.navbar-default .navbar-toggle .icon-bar{
    background-color: #FFFFFF;
}
.navbar-default .navbar-brand{
    color: #FFFFFF;
}
.main-content{
    position: fixed;
    line-height: 0;
}

.logo {
    max-height: 130px;
}
.logo>img {
    background-color: #FFFFFF;
    margin-top: 30px;
    padding: 3px;
    border: 2px solid white;
    width: 40%;
    border-radius: 100%;
}
.list {
    color: #fff;
    list-style: none;
    padding-left: 0px;
}
.list::first-line {
    color: rgba(255, 255, 255, 0.5);
}
.list>h5{
    padding: 5px 0px 5px 30px;
    border-bottom: 1px solid #FFFFFF;
}
.list>h5>strong{
    color:#ff9500;
}
.list> li, h5 {
    padding: 5px 0px 5px 40px;
}
.list> li> a{
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    text-decoration: none;
}
.list>li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-left: 5px solid #fe890f	;
    color: white;
    font-weight: bolder;
    padding-left: 35px;
}
.main-content{
    padding-left: 0;
    padding-right: 0;
    position: relative;
}
.principal{
	float:left;
    width: 100%;
    height: 100%;
}
.mLSelected{
	background-color: rgba(255, 255, 255, 0.2);
    border-left: 5px solid #fe890f;
    color: white;
    font-weight: bolder;
    padding-left: 35px;
}
.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
    background-color: #337ab7;
}